body {
    width: 300px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-term {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.search-term:focus {
    color: #00B4CC;
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    color: #fff;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    cursor: pointer;
}

.search-button:active {
    border: 1px solid rgb(0, 116, 131);
    background: rgb(0, 116, 131);
}

#p-error {
    color: red;
}

button::-moz-focus-inner {
    border: 0;
}